@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

:root {
  --red: #b90000;
  --background-white: #fafafa;
  --yellow: #ffe500;
  --open-sans: "Open Sans", sans-serif;
  --oswald: "Oswald", sans-serif;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  min-height: 120vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

p {
  font-family: var(--open-sans);
}

h1,
h2,
h3,
h4,
a {
  font-family: var(--oswald);
  font-weight: bold;
  font-size: 30px;
}

.loading {
  font-size: 30px;
  text-align: center;
  margin-top: 150px;
}

/***************
      Header
****************/

header {
  background-color: var(--red);
  height: 135px;
}

header img {
  width: 134px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.header-container button,
a {
  margin: 0 20px;
}

.header-btns {
  display: flex;
  flex-direction: row;
}

.fa-solid {
  font-size: 36px;
  color: white;
}

/***************
      FOOTER
****************/

footer {
  height: 140px;
  background-color: var(--red);
}

.footer-container img {
  width: 134px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  color: white;
}

/*********/
/* LOGIN */
/*********/

.login-color {
  background-color: #f0f0f0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login button {
  margin-top: 30px;
  background-color: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 20px;
  width: 100px;
}

#login input {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #f0f0f0;
}

.email-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.password-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
}

#login .fa-solid,
.fa-regular {
  color: black;
  font-size: 20px;
}

#login label {
  font-size: 20px;
}

#login input::placeholder {
  padding-left: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.home-button a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 5px;
  font-size: 20px;
}

.home-button {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

/*********/
/* ADMIN */
/*********/

#logoutBtn {
  font-size: 20px;
  display: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.createPostBtn {
  font-size: 20px;
  padding: 10px 10px;
  background-color: var(--red);
  border: 1px solid black;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

.createPostBtn:hover {
  background-color: transparent;
  color: black;
  transition: 0.5ms;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greetings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.postAdmin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 420px;
  align-items: center;
  background-color: var(--red);
  padding: 30px 10px;
  margin: 30px auto;
}

.postAdmin img {
  width: 200px;
}

.postAdmin h2 {
  font-size: 20px;
  padding: 0 20px;
  color: white;
  text-transform: uppercase;
}

.postAdmin button {
  font-size: 18px;
  font: var(--oswald);
  font-weight: bold;
  background-color: transparent;
  width: 80px;
  height: 30px;
  color: white;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 5px;
}

/*************/
/* MAKE POST */
/*************/

#makePostForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 30px auto;
  white-space: pre-wrap;
  border: 2px solid black;
  padding: 20px 50px;
}

#makePostForm input {
  padding: 5px 5px;
  background-color: transparent;
  border: 2px solid black;
}

#makePostForm label {
  color: black;
}

#makePostForm textarea {
  padding: 5px 5px;
  border: 2px solid black;
  max-width: 350px;
  min-width: 200px;
}

#SubmitPostBtn {
  width: 100px;
  margin: 20px auto;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 5px;
  color: white;
  background-color: var(--red);
  border-style: none;
  border-radius: 10px;
}

/*************/
/* EDIT POST */
/*************/

#editPostForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 30px auto;
  white-space: pre-wrap;
  border: 2px solid black;
  padding: 20px 50px;
}

#editPostForm input {
  padding: 5px 5px;
  background-color: transparent;
  border: 2px solid black;
}

#editPostForm label {
  color: black;
}

#editPostForm textarea {
  padding: 5px 5px;
  border: 2px solid black;
  max-width: 350px;
  min-width: 200px;
}

#SubmitEditBtn {
  width: 100px;
  margin: 20px auto;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 5px;
  color: white;
  background-color: var(--red);
  border-style: none;
  border-radius: 10px;
}

/******************/
/* Index carousel */
/******************/

#slideshowContainer {
  max-width: 1400px;
}

.slide-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}

.slide-content-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.more-btn {
  position: absolute;
  margin: 300px 0 0 0;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 5px;
}

.post-title {
  position: absolute;
  color: white;
  margin: 0 0 0 0;
  font-size: 34px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.background-container {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: hwb(0 0% 100% / 0.611);
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.prev {
  position: absolute;
  color: white;
  background-color: var(--red);
  padding: 0 10px;
  border-radius: 10px;
  font-size: 50px;
  height: 80px;
  margin: 0 85% 0 0;
  width: 25px;
  cursor: pointer;
}
.next {
  position: absolute;
  color: white;
  background-color: var(--red);
  padding: 0 10px;
  border-radius: 10px;
  height: 80px;
  width: 25px;
  max-width: 1400px;
  font-size: 50px;
  margin: 0 0 0 85%;
  cursor: pointer;
}
.numbertext {
  color: #b90000;
}

#slideshowDots {
  display: flex;
  position: absolute;
  gap: 2px;
  width: 60px;
  height: 20px;
  margin-top: 650px;
}

.dot {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

/***********************/
/* Blog page All posts */
/***********************/

#allBlogPosts {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  background-color: var(--red);
}

.post img {
  width: 200px;
  margin: 20px auto;
}

.post h2 {
  color: white;
  font-size: 20px;
  padding: 0 30px;
  text-transform: uppercase;
}

.post a {
  font-size: 20px;
  text-align: center;
  width: 150px;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  margin: 20px auto;
}

/*****************/
/* Spesific POST */
/*****************/

.spesPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
}

.spesPost img {
  width: 80%;
}

.spesPost h2 {
  font-size: 30px;
  width: 80%;
}

.spesPost p {
  font-size: 16px;
  width: 80%;
  white-space: pre-wrap;
}

/*liten desktop*/
@media screen and (min-width: 800px) {
  h1,
  h2,
  h3,
  h4,
  a {
    font-size: 34px;
  }

  /*********/
  /* ADMIN */
  /*********/

  .createPostBtn {
    font-size: 24px;
  }

  #adminPostCont {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 50px;
  }

  .postAdmin h2 {
    font-size: 24px;
  }

  /******************/
  /* Index carousel */
  /******************/

  .background-container {
    width: 400px;
    height: 400px;
  }

  /***********************/
  /* Blog page All posts */
  /***********************/

  #allBlogPosts {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 80px;
  }

  .post {
    margin: 5px auto;
  }
}

/*stor desktop*/
@media screen and (min-width: 1100px) {
  h1,
  h2,
  h3,
  h4,
  a {
    font-size: 38px;
  }

  /*********/
  /* Admin */
  /*********/

  #adminPostCont {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 50px;
  }
  /******************/
  /* Index carousel */
  /******************/

  .slide-content-inner {
    width: 100%;
    height: 100%;
  }

  .slide-content-inner img {
    width: 100%;
    height: 100%;
  }

  .more-btn {
    margin: 200px 0 0 0;
  }

  .background-container {
    width: 500px;
    height: 300px;
  }

  .prev {
    margin: 0 950px 0 0;
  }
  .next {
    margin: 0 0 0 950px;
  }

  #slideshowDots {
    margin-top: 700px;
  }

  /***********************/
  /* Blog page All posts */
  /***********************/

  #allBlogPosts {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 90px;
  }

  .post {
    margin: 5px auto;
    height: 450px;
  }

  .post h2 {
    font-size: 22px;
  }
}
